* {
    box-sizing: border-box;
}

h1 {
    font-family: $heading;
    font-size: 3rem;
    font-weight: lighter;
    line-height: 1.2;
    @include breakpoint(tablet) {
        font-size: 2.5rem;
    }
}

h2 {
    font-family: $heading;
    font-size: 2.5rem;
    font-weight: lighter;
    line-height: 1.2;
    @include breakpoint(tablet) {
        font-size: 2rem;
    }
}

h3 {
    font-family: $heading;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.2;
    @include breakpoint(tablet) {
        font-size: 1.5rem;
    }
}

h4 {
    font-family: $heading;
    font-size: 1.75rem;
    font-weight: lighter;
    line-height: 1.2;
    @include breakpoint(tablet) {
        font-size: 1.25rem;
    }
}

h4 {
    font-family: $heading;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.2;
    @include breakpoint(tablet) {
        font-size: 1.2rem;
    }
}

h5 {
    font-family: $heading;
    font-size: 1.25rem;
    font-weight: lighter;
    line-height: 1.2;
}

h6 {
    font-family: $heading;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.2;
}

p {
    font-size: 1.1rem;
    line-height: 1.45;
    @include breakpoint(tablet) {
        font-size: 1rem;
    }
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

.white {
    color: $white;
}

.dark-blue {
    color: $dark-blue;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    width: 100%;
}

.link-button,
.button {
    font-family: $body;
    padding: 0.75rem 2rem;
    line-height: 1;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 150ms ease-in;
    letter-spacing: 0.05rem;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
    &.delete {
        background: $white;
        color: red;
        border: solid 2px red;
        &:hover {
            background: red;
            color: $white;
        }
    }

    &.primary {
        background: $primary;
        color: $white;
        border: none;
    }
    &.inverted {
        color: $primary;
        border: solid 2px $primary;
        &:hover {
            background: $primary;
            color: $white;
        }
    }
    &.small {
        padding: 0.75rem 2rem;
    }
    &.medium {
        padding: 1rem 2.5rem;
    }
    &.full {
        width: 100%;
    }
    &.rounded-none {
        border-radius: none;
    }
    &.rounded-sm {
        border-radius: 0.75rem;
    }
    &.rounded-md {
        border-radius: 1.25rem;
    }
}

.link-text {
    text-transform: uppercase;
    font-weight: bold;
}

.avatar-small {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-medium {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-large {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
}

.loading-container {
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 2rem;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.dropdown-container {
    position: absolute;
    opacity: 0;
    transition: opacity 0.25s ease, transform 0.25s ease;
    transform: scale(0.5);
    z-index: 1;
    pointer-events: none;
    max-height: 200px;
    overflow: auto;
    &.collapsed {
        opacity: 1;
        transform: scale(1);
        pointer-events: all;
    }
    /* width */
    &::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $light-yellow;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        opacity: 0.75;
    }
}

input,
textarea {
    width: 100%;
    padding: 0.75rem 1.25rem;
    border-radius: 1.25rem;
    border: $light-grey solid 1.5px;
    // margin-bottom: 1.25rem;
}

.select-container {
    width: 100%;
    border-radius: 1.25rem;
    border: $light-grey solid 1.5px;
    position: relative;
    cursor: pointer;
    // margin-bottom: 1.25rem;
    svg {
        position: absolute;
        top: 26%;
        right: 10px;
    }
    .selected {
        padding: 0.75rem 1.25rem;
    }
    // .dropdown-container {
    // padding: 0.75rem 1rem;

    // }
}

.half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.image-uploader {
    .thumbs-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 16;
    }
}

.select-container,
.dropdown-ingredients {
    position: relative;
    cursor: pointer;
    .dropdown-container {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        border-radius: 0.5rem;
        & div {
            background: $white;
            padding: 0.75rem;
            // transition: 100ms ease-in;
            // background: $white;
            &:hover {
                background: $primary;
                color: $white;
            }
            &:first-of-type {
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
            }
            &:last-of-type {
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }
    }
}

.selected-ingredient-container,
.selected-filter-container {
    display: flex;
    flex-wrap: wrap;
    .selected-ingredient,
    .selected-filter {
        display: flex;
        align-items: center;
        padding: 0.75rem 1.25rem;
        border-radius: 1.25rem;
        border: solid 1.75px $primary;
        margin-bottom: 1rem;
        margin-right: 1rem;
        background: $white;
        div {
            margin-right: 1rem;
        }
    }
}

.rc-switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 44px;
    height: 22px;
    line-height: 20px;
    padding: 0;
    vertical-align: middle;
    border-radius: 20px 20px;
    border: 1px solid #ccc;
    background-color: #ccc;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    &:after {
        position: absolute;
        width: 18px;
        height: 18px;
        left: 2px;
        top: 1px;
        border-radius: 50% 50%;
        background-color: #fff;
        content: ' ';
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        transform: scale(1);
        transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
        animation-duration: 0.3s;
        animation-name: rcSwitchOff;
    }
    &:hover {
        &:after {
            transform: scale(1.1);
            animation-name: rcSwitchOn;
        }
    }
    &:focus {
        box-shadow: 0 0 0 2px tint(#2db7f5, 80%);
        outline: none;
    }
}
.rc-switch-inner {
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 24px;
    top: 0;
}
.rc-switch-checked {
    border: 1px solid $primary;
    background-color: $primary;
    .rc-switch-inner {
        left: 6px;
    }
    &:after {
        left: 22px;
    }
}
.rc-switch-disabled {
    cursor: no-drop;
    background: #ccc;
    border-color: #ccc;
    &:after {
        background: #9e9e9e;
        animation-name: none;
        cursor: no-drop;
    }
    &:hover {
        &:after {
            transform: scale(1);
            animation-name: none;
        }
    }
}

.rc-switch-label {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    padding-left: 10px;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
    user-select: text;
}

@keyframes rcSwitchOn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1.1);
        transform: scale(1);
    }
}

@keyframes rcSwitchOff {
    0% {
        transform: scale(1.1);
    }
}
