/**********************
    Review modal
********************/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $background;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    &:focus {
        outline: none;
    }
    @include breakpoint(tablet) {
        padding: 1.5rem 1rem;
        width: 90%;
    }
    &.review-modal {
        h3 {
            padding-bottom: 2rem;
        }

        label {
            text-transform: uppercase;
            color: $primary;
            font-weight: bold;
            padding-bottom: 0.75rem;
            display: block;
            letter-spacing: 0.5px;
        }
        input {
            margin-bottom: 1rem;
            font-family: $body;
            font-size: 1rem;
        }
        textarea {
            margin-bottom: 1.5rem;
            font-family: $body;
            font-size: 1rem;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            @include breakpoint(mobile) {
                width: 100%;
            }
            button {
                @include breakpoint(mobile) {
                    width: 100%;
                }
            }
        }
    }

    &.session-modal,
    &.login-modal {
        h3 {
            padding-bottom: 2rem;
        }
        h5 {
            padding-bottom: 1.5rem;
        }
    }
}
