.recipes {
    background: $background;

    .header {
        padding: 2rem;
        height: 16rem;
        display: flex;
        align-items: flex-end;
    }
    .search-image-container {
        width: 70%;
        padding: 3rem 2rem;
        @include breakpoint(tablet) {
            width: 100%;
        }
        @include breakpoint(mobile) {
            width: 100%;
        }
        .preview-container {
            width: 250px;
            height: 250px;
            padding-bottom: 2rem;
            margin: auto;
            img {
                border-radius: 0.5rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .search-container {
            display: grid;
            grid-template-columns: 8fr auto;
            grid-gap: 1.5rem;
            @include breakpoint(mobile) {
                grid-template-columns: auto;
            }
            .search-bar {
                span {
                    color: $white;
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    padding-bottom: 0.75rem;
                    display: block;
                    font-weight: bold;
                }
                input {
                    font-family: $body;
                    font-size: 1rem;
                }
            }
            .image-recognition {
                input {
                    display: none;
                }
                button {
                    display: flex;
                    align-content: center;
                    @include breakpoint(mobile) {
                        width: 100%;
                        justify-content: center;
                    }
                    svg {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    .filter {
        width: 90%;
        margin: auto;
        padding: 1rem 2rem;
        @include breakpoint(tablet) {
            padding: 0;
        }
        .filter-sort-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include breakpoint(mobile) {
                display: block;
            }
            .filter-reset {
                width: 100%;
                @include breakpoint(mobile) {
                    display: grid;
                    grid-template-columns: auto auto;
                }
                button {
                    padding: 1rem 2rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    transition: 150ms ease-in;
                    text-align: center;
                    @include breakpoint(tablet) {
                        padding: 0.5rem 1rem;
                    }
                    &:first-of-type {
                        background: $white;
                        color: $primary;
                        border: 2px $primary solid;
                        border-right: 2px solid $primary;
                        border-radius: 1.5rem 0 0 1.5rem;
                        &:hover,
                        &.active {
                            background: $primary;
                            color: $white;
                        }
                    }
                    &:last-of-type {
                        background: $white;
                        color: $primary;
                        border-radius: 0 1.5rem 1.5rem 0;
                        border: 2px $primary solid;
                        border-left: none;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    &.active {
                        background: none;
                        color: $primary;
                        border-right: 1.5px solid $primary;
                        &:hover {
                            background: $primary;
                            color: $white;
                        }
                    }
                }
            }
            .sort {
                position: relative;
                margin: 1rem;
                cursor: pointer;
                .filter-icon {
                    display: flex;
                    align-items: center;
                    width: 150px;
                    border-bottom: $primary solid 1.5px;
                    padding-bottom: 0.5rem;
                    justify-content: space-between;
                    @include breakpoint(mobile) {
                        width: 100%;
                        padding-top: 1rem;
                    }
                    svg {
                        margin-left: 0.5rem;
                    }
                }
                .dropdown-container {
                    // margin-top: 0.5rem;
                    border-radius: 10px;
                    width: 100%;
                    justify-content: center;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
                        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                    button {
                        display: block;
                        text-align: center;
                        background: $white;
                        text-transform: uppercase;
                        letter-spacing: 0.05rem;
                        font-weight: bold;
                        padding: 0.75rem 1rem;
                        outline: none;
                        transition: 150ms ease-in;
                        width: 100%;
                        &:hover {
                            background: $light-yellow;
                        }
                        &:last-child {
                            border-bottom-right-radius: 0.75rem;
                            border-bottom-left-radius: 0.75rem;
                            border-top: $background solid 1.5px;
                        }
                    }
                }
            }
        }
        .selected-filter-container {
            margin: auto;
            padding: 2rem 2rem 1rem;
            width: 80%;
            @include breakpoint(tablet) {
                padding: 1rem;
                width: 100%;
            }
            @include breakpoint(mobile) {
                width: 100%;
            }
            .selected-filter {
                margin-bottom: 0.5rem;
                margin-right: 0.5rem;
                padding: 0.5rem 1rem;
            }
        }
        .filter-container {
            margin: auto;
            padding: 1rem 2rem;
            width: 80%;
            @include breakpoint(laptop) {
                padding: 1rem;
                width: 100%;
            }
            @include breakpoint(tablet) {
                padding: 1rem 0;
                width: 100%;
            }
            .filter-labels {
                display: grid;
                grid-template-columns: repeat(5, auto);
                text-align: center;
                @include breakpoint(mobile) {
                    grid-template-columns: 1fr;
                }
                .labels {
                    background-color: $white;
                    color: $primary;
                    padding: 1rem 0;
                    text-transform: uppercase;
                    font-weight: bold;
                    transition: 150ms ease-in;
                    text-align: center;
                    border: 2px solid $primary;
                    border-left: none;
                    cursor: pointer;
                    @include breakpoint(laptop) {
                        padding: 1rem 0;
                    }
                    @include breakpoint(tablet) {
                        padding: 0.75rem 0;
                    }
                    @include breakpoint(mobile) {
                        border: 2px solid $primary;
                        border-bottom: none;
                    }
                    &:hover {
                        background: $primary;
                        color: $white;
                    }
                    &:first-of-type {
                        border: 2px $primary solid;
                        border-right: 2px solid $primary;
                        border-top-left-radius: 1.5rem;
                        @include breakpoint(mobile) {
                            border-bottom: none;
                            border-top-right-radius: 1.5rem;
                        }
                    }
                    &:last-of-type {
                        border-top-right-radius: 1.5rem;
                        border: 2px $primary solid;
                        border-left: none;
                        @include breakpoint(mobile) {
                            border-top-right-radius: 0;
                            border-left: 2px solid $primary;
                        }
                    }

                    &.active {
                        background: $primary;
                        color: $white;
                    }
                }
            }
            .filters {
                background: $white;
                border: 2px $primary solid;
                border-top: none;
                border-bottom-left-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
                padding: 2rem;

                .slider-container {
                    display: grid;
                    grid-template-columns: 11fr 1fr;
                    align-items: center;
                    grid-gap: 1rem;
                    .rangeslider__fill {
                        background-color: $primary;
                    }
                    .rangeslider__handle {
                        width: 20px;
                        height: 20px;
                        &:after {
                            box-shadow: none;
                            width: 0px;
                            height: 0px;
                        }
                    }
                }
            }
            .filter-list {
                display: grid;
                grid-gap: 1.5rem;
                grid-template-columns: repeat(4, auto);
                text-transform: capitalize;
                @include breakpoint(tablet) {
                    grid-template-columns: repeat(3, auto);
                }
                @include breakpoint(mobile) {
                    grid-template-columns: repeat(2, auto);
                    grid-gap: 1.25rem;
                }
                div {
                    cursor: pointer;
                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .recipe-container {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5rem;
        padding: 2rem 2rem 4rem;
        @include breakpoint(laptop) {
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
        }
        @include breakpoint(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
        .recipe-card {
            text-decoration: none;
            transition: 150ms ease-in;
            background: $dark-blue;
            border-radius: 0.75rem;
            display: flex;
            flex-direction: column;
            height: 100%;

            .image-container {
                border-radius: 0.75rem 0.75rem 0 0;
                display: block;
                height: 250px;
                img {
                    border-radius: 0.75rem 0.75rem 0 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .content {
                color: $white;
                padding: 2rem;
                padding: 1rem 1.5rem;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                height: inherit;

                h4 {
                    color: $white;
                    font-weight: 400;
                    letter-spacing: 0.1rem;
                    padding-bottom: 1.5rem;
                }
                .desc {
                    display: flex;
                    justify-content: space-between;
                    margin-top: auto;

                    .cuisine {
                        color: $white;
                        font-style: italic;
                    }
                    .stats {
                        text-align: right;
                        div {
                            display: flex;
                            align-items: center;
                            color: $white;
                            &:first-child {
                                margin-bottom: 0.5rem;
                            }
                            p {
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
            &:hover {
                opacity: 0.9;
            }
        }
    }
}

.single-recipe {
    min-height: 100vh;
    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // height: 50vh;
        @include breakpoint(tablet) {
            grid-template-columns: minmax(0, 1fr);
        }
        .summary {
            display: flex;
            flex-direction: column;
            justify-content: center;

            background: $light-yellow;
            padding: 4rem;
            text-transform: capitalize;
            @include breakpoint(laptop) {
                padding: 2rem;
            }
            @include breakpoint(tablet) {
                order: 2;
            }
            @include breakpoint(mobile) {
                padding: 2rem;
            }

            h2 {
                padding-bottom: 1.5rem;
            }
            .category-save {
                display: flex;
                padding-bottom: 2rem;
                align-items: baseline;
                justify-content: space-between;
                .category {
                    display: flex;
                    .cuisine,
                    .type {
                        font-family: $heading;
                        font-size: 1.25rem;
                        font-weight: 200;
                        // font-style: italic;
                    }
                    .cuisine {
                        padding-right: 1rem;
                        border-right: solid 1.5px $focused;
                    }
                    .type {
                        padding-left: 1rem;
                    }
                }
                .favourite {
                    &.active svg #svg_1 {
                        fill: $primary;
                    }

                    svg {
                        cursor: pointer;

                        path {
                            transition: fill 0.3s ease;
                            fill: transparent;
                        }
                    }
                    &:hover {
                        #svg_1 {
                            fill: $primary;
                        }
                    }
                }
            }
            .details {
                padding-bottom: 2rem;
                font-weight: 200;
                font-family: $heading;
                font-size: 1.25rem;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                text-align: center;
                align-items: center;
                justify-content: center;
                .number {
                    font-size: 2rem;
                    font-weight: 400;
                    @include breakpoint(tablet) {
                        font-size: 1.5rem;
                    }
                }
                .ratings {
                    font-weight: 200;
                    font-family: $heading;
                    font-size: 1.25rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        padding-right: 0.5rem;
                    }
                }
                .item-details {
                    border-right: 2px solid $yellow;
                    &:last-child {
                        border-right: none;
                    }
                }
            }
            .button-container {
                display: flex;
                justify-content: center;
                @include breakpoint(mobile) {
                    flex-direction: column;
                }
                a {
                    margin-right: 2rem;
                    @include breakpoint(mobile) {
                        margin-right: 0;
                        margin-bottom: 0.75rem;
                    }
                }
            }
        }
        .featured-image {
            // height: 50vh;
            max-height: 70vh;
            position: relative;
            @include breakpoint(tablet) {
                max-height: 50vh;
            }
            @include breakpoint(mobile) {
                max-height: 30vh;
            }
            div {
                height: 100%;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .recipe-body {
        background: $background;
        padding-bottom: 3rem;
        .section {
            padding-top: 3rem;
            .section-title {
                background: $secondary;
                display: inline-block;
                color: $white;
                padding: 0.5rem 3rem;
            }
            .content {
                width: 90%;
                padding: 2rem;
                border-bottom: solid 1px $yellow;
                font-family: $body;
            }
        }
        .directions {
            .step-container {
                display: grid;
                grid-template-columns: 6px 1fr;
                grid-gap: 2.5rem;
                padding-bottom: 1rem;
                font-family: $body;
                .step {
                    font-family: $heading;
                    font-size: 0.9rem;
                    background: $primary;
                    color: $white;
                    border-radius: 50%;
                    line-height: 30px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                }
            }
        }
    }
    .reviews {
        button {
            display: block;
            margin-top: 1rem;
        }
        .review-container {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
            background: $white;
            margin-bottom: 1rem;
            border-radius: 1rem;
            padding: 1.5rem 1rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
                rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            @include breakpoint(mobile) {
                padding: 1rem 0.5rem;
                margin-bottom: 0.75rem;
            }
            .avatar-container {
                img {
                    @include breakpoint(mobile) {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .review-content {
                span {
                    display: flex;
                    color: $primary;
                    padding-bottom: 1rem;
                    align-items: baseline;
                    font-weight: bold;
                    svg {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}
